.set_git.sh.swp
*.zip
CarND-Traffic-Sign-Classifier-Project/checkpoint
CarND-Traffic-Sign-Classifier-Project/.ipynb_checkpoints
CarND-Extended-Kalman-Filter-Project/Release/
CarND-Extended-Kalman-Filter-Project/Debug/
CarND-Extended-Kalman-Filter-Project/build/*
CarND-Kidnapped-Vehicle-Project/Release/
CarND-Kidnapped-Vehicle-Project/build/*
*.p
*.cpp.o
*.o
*.opp
*.swp
*.swo
*.swn
*.swm
*.so
*bin
*.pyc
term2_sim_linux
term3_sim_linux
beta_simulator_linux
Demo

.desktop
CarND-Path-Planning-Project/build/*
CarND-Path-Planning-Project/*.mkv
CarND-PID-Control-Project/build/*
CarND-Behavioral-Cloning-P3/data/*
CarND-Behavioral-Cloning-P3/src/Release.key
CarND-Behavioral-Cloning-P3/src/get-pip.py
CarND-Capstone/ros/build/
CarND-Capstone/ros/devel/
linux_sys_int/
!linux_sys_int/sys_int.x86_64

